.Header {
    display: flex;
    justify-content: center;
}
.Header input{
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    padding: 12px 16px;
    border-radius: 14px;
}
.Header button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
}
.Header input::placeholder{
    color: #000;
}
